h1 {
    border: 5px solid rgb(58, 57, 57);
    width: 300px;
    margin: 20px auto;
    font-size: 1.8em;
    color: rgb(83, 83, 83);
    padding: 0.7em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

h1:nth-of-type(2n) {
    background-color: rgb(125, 236, 175);
}

h1:nth-of-type(3n) {
    background-color: rgb(241, 119, 62);
}

h1:nth-of-type(4n) {
    background-color: rgb(125, 151, 236);
}

#one h1:nth-of-type(1) {
    /*transform-origin: top left; */
    transform: rotate(25deg);
}

#one h1:nth-of-type(2) {
    /*transform-origin: top left; */
    transform: scale(0.5);
}

#one h1:nth-of-type(3) {
    /*transform-origin: top left; */
    transform: translate(-150px, -30px);
}

#one h1:nth-of-type(4) {
    /*transform-origin: top left; */
    transform: skew(45deg);
}

#two h1:nth-of-type(1) {
    /*transform-origin: top left; */
    transform: rotate(30deg) scale(0.7);
}

#two {
    transform: scale(0.5);
}